.background {
    margin: auto 0px;
    min-height: 1500px;
    background: content-box radial-gradient(rgb(16, 5, 230) .5%, rgb(212, 195, 10));

}
.form-styling {
    border-radius: 25rem;
    box-shadow: 2px 2px 2px rgb(255, 234, 1);
    margin-bottom: 10px;
}

.form-location {
    max-width: 320px;
    max-height: 420px;
    background-color: rgb(129, 135, 193);
    box-sizing: border-box;
    box-shadow: 4px 2px 9px rgb(255, 234, 1);
    opacity: 0.9;
    margin: 0 auto;
}

.form-location-reg {
    max-width: 420px;
    max-height: 650px;
    background-color: rgb(129, 135, 193);
    box-sizing: border-box;
    box-shadow: 4px 2px 9px rgb(255, 234, 1);
    opacity: 0.9;
    margin: 0 auto;
    margin-bottom: 40px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}


.item-card {
    background-color: rgb(129, 135, 193);
    box-shadow: 4px 2px 9px rgb(255, 234, 1);
    text-transform: capitalize;
    min-width: 200px;
    max-width: 400px;
}
.message-card {
    background-color: rgb(129, 135, 193);
    box-shadow: 4px 2px 9px rgb(255, 234, 1);
    min-width: 200px;
    max-width: 400px;
    margin: 0 auto;
    
}

.link-text {
    color: rgb(212, 195, 10);
}

.single-item {
    background-color: rgb(129, 135, 193);
    box-shadow: 4px 2px 9px rgb(255, 234, 1);
    text-transform: capitalize;
    max-width: 420px;
    margin: 0% auto;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
